{{ partial "head.html" . }} {{ partial "header.html" . }}
<style>
  a,
  .logo {
    color: #fff;
  }
</style>
<section class="container homepage">
  <a class="display-2" href="galleries">Art</a><br />
  <a class="display-2" href="short-stories">Short Stories</a><br />
  <a class="display-2" href="poetry">Poetries</a><br />
  <a class="display-2" href="scripts">Scripts</a><br />

  {{ range .Data.Pages }} {{ if eq .Type "page" }}

  <a class="display-2" href="{{ .Permalink }}">{{ .Title }}</a>

  {{ end }} {{ end }}
  <div class="home-bg"></div>
</section>
<section class="container footer">{{ partial "footer.html" . }}</section>
